.footer{
    height: max-content;
    /* background: linear-gradient(180deg, #ffffff, #888888, #3c3c3c); */
    background-color: #3c3c3c;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.footer div{
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    margin: 8%;
    margin-left: 0;
    margin-right: 0;
    width: 80%;
}
.footer div>a{
    text-decoration: none;
    color: white;
    padding: 15px;
}
.footer div>p{
    padding: 10px;
    color: white;
}